@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-poppins: Poppins, "sans-serif";
  --font-roboto: Roboto, "sans-serif";
  --font-afacad: Afacad, "sans-serif";

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1601px;
}

* {
  transition: 0.5s;
}

html,
body {
  overflow-x: hidden;
  @apply min-h-dvh h-fit w-screen font-poppins;
}

::selection {
  @apply bg-blue-500 text-white;
}

@utility flex-Center {
  @apply flex justify-center items-center;
}
@utility flex-Between {
  @apply flex justify-between items-center;
}

@layer Components {
  #weather-App {
    .weather-Item {
      @apply flex-Center flex-col gap-2;

      .time {
        @apply text-base text-neutral-800;
      }
      .weather-Icon {
        @apply w-7 aspect-square;
      }
      .temperature {
        @apply font-medium text-sm text-neutral-800;
      }
    }
  }

  #country-Info {
    .info-Container {
      @apply bg-slate-50 border border-slate-200 p-2.5 rounded-xl h-full w-full flex gap-2 min-h-16;

      .icon-Container {
        @apply text-lg font-medium text-blue-500;
      }
      .country-Info {
        @apply h-full w-full flex flex-col gap-1;

        .info-Heading {
          @apply text-base font-semibold text-slate-800;
        }
        .info-Content {
          @apply text-sm text-slate-500;
        }
      }
    }
  }
}
