@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-poppins: Poppins, "sans-serif";
  --font-roboto: Roboto, "sans-serif";

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1601px;
}

* {
  transition: 0.5s;
}

html,
body {
  overflow-x: hidden;
  @apply h-screen w-screen font-poppins;
}

::selection {
  @apply bg-blue-500 text-white;
}

@utility flex-Center {
  @apply flex justify-center items-center;
}
@utility flex-Between {
  @apply flex justify-between items-center;
}

@utility index-Container {
  @apply h-full w-full bg-neutral-900 text-white p-4 flex flex-col gap-8;
}
@utility index-Heading {
  @apply h-fit w-full text-center text-2xl md:text-3xl font-medium p-2;
}
@utility project-Index {
  @apply h-fit w-full flex flex-wrap justify-start items-center gap-4 px-8 sm:px-16 md:px-22;
}
@utility project-Box {
  @apply h-fit w-full md:w-[48%] lg:w-[32%] xl:w-[24%] border border-white rounded-lg px-2 py-4 flex-Center flex-col hover:scale-95 transition-transform duration-300 gap-3 grow;
}
@utility project-Number {
  @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
}
@utility project-Title {
  @apply text-base md:text-lg lg:text-xl font-medium;
}

@layer Components {
}
